@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top3{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Inter Tight", sans-serif;
}
.top{
    width: 100%;
    height: 13%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: center;
}
.top1{
    width: 92%;
    height: 100%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: space-between;
}
.top2{
    width: 30%;
    height: 100%;
    font-size: 20px;
    color: rgb(254,252,225);
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
}
.top2 img{
    width: 50px;
    height: 50px;
}
.top3{
    width: 50%;
    height: 100%;
    font-size: 18px;
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.top3 a{
    color: rgb(254,252,225);
    text-decoration: none;
}
.menu{
    display: none; 
}
.pad1{
    padding: 10px;
    background-color: rgb(254,252,225);
    border-radius: 50px;
}
.pad1 a{
    color: rgb(14,15,15);
}
.home{
    width: 100%;
    height: 100%;
    background-color: rgb(14,15,15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home1{
    width: 85%;
    height: 100%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: space-between;
}
.homes1{
    width: 48%;
    height: 75%;
    background-color: rgb(14,15,15);
}
.homes11{
    width: 100%;
    height: 75%;
    font-size: 16px;
    line-height: 30px;
    color: rgb(254,252,225);
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(14,15,15);
}
.homes12{
    width: 100%;
    height: 25%;
    display: flex;
}
.homes13{
    width: 50%;
    height: 100%;
    font-size: 16px;
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
}
.homes13 a{
    padding: 10px;
    background-color: rgb(254,252,225);
    text-decoration: none;
    color: rgb(14,15,15);
}
.homes14{
    width: 50%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,252,225);
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.n1{
    font-size: 50px;
    line-height: 120px;
}
.n5{
    font-size: 30px;
    line-height: 35px;
}
.homes2{
    width: 48%;
    height: 87%;
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.homes2 img{
    width: 400px;
    height: 500px;
    border-radius: 200px;
}
.service{
    width: 100%;
    height: 20%;
    font-size: 20px;
    color: rgb(245,243,217);
    background-color: rgb(16,17,17);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service h1{
    margin-left: 50px;
}
.ss1{
    width: 100%;
    height: 100%;
    background-color: rgb(16,17,17);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.ss11 h2{
    line-height: 60px;
}
.ss11{
    width: 85%;
    height: 40%;
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-evenly;
}
.ss111{
    width: 58%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,252,225);
    line-height: 25px;
    padding: 30px;
    background-color: rgb(20,21,20);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ss112{
    width: 39%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,252,225);
    line-height: 25px;
    padding-left: 20px;
    background-color: rgb(20,21,20);
    border-radius: 50px;
}
.ss12 h2{
    line-height: 60px;
}
.ss12{
    width: 85%;
    height: 40%;
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-evenly;
}
.ss121{
    width: 58%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,252,225);
    line-height: 25px;
    padding: 30px;
    background-color: rgb(20,21,20);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ss122{
    width: 39%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,252,225);
    line-height: 25px;
    padding: 20px;
    background-color: rgb(20,21,20);
    border-radius: 50px;
}
.ss13{
    width: 85%;
    height: 10%;
    background-color: rgb(16,17,17);
}
.work{
    width: 100%;
    height: 15%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: center;
}
.works1{
    width: 85%;
    height: 100%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: space-between;
}
.works2{
    width: 30%;
    height: 100%;
    font-size: 25px;
    color: rgb(245,243,217);
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
}
.works3{
    width: 50%;
    height: 100%;
    font-size: 16px;
    background-color: rgb(14,15,15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.works3 a{
    text-decoration: none;
    color: rgb(14,15,15);
    padding: 8px 20px;
    background-color: rgb(245,243,217);
    border-radius: 50px;
}
.workb{
    width: 100%;
    height: 200%;
    background-color: rgb(14,15,15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workb1{
    width: 85%;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
    color: rgb(245,243,217);
    background-color: rgb(14,15,15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.workb1 img{
    width: 100%;
    height: 73%;
}
.wo1{
    width: 100%;
    height: 48%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: space-between;
}
.w1{
    width: 48%;
    height: 100%;
    background-color: rgb(14,15,15);
    border: 10px rgb(20,21,20) solid;
}
.w2{
    width: 48%;
    height: 100%;
    background-color: rgb(14,15,15);
    border: 10px rgb(20,21,20) solid;
}
.wo2{
    width: 100%;
    height: 48%;
    background-color: rgb(14,15,15);
    display: flex;
    justify-content: space-between;
}
.w3{
    width: 48%;
    height: 100%;
    background-color: rgb(14,15,15);
    border: 10px rgb(20,21,20) solid;
}
.w4{
    width: 48%;
    height: 100%;
    background-color: rgb(14,15,15);
    border: 10px rgb(20,21,20) solid;
}
.me{
    width: 100%;
    height: 200%;
    background-color: rgb(16,17,17);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.met{
    width: 85%;
    height: 08%;
    font-size: 25px;
    color: rgb(216,215,192);
    background-color: rgb(16,17,17);
    display: flex;
    align-content: space-between;
}
.met1{
    width: 85%;
    height: 19%;
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-between;
}
.met11{
    width: 20%;
    height: 96%;
    background-color: rgb(20,21,20);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.met11 img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.met12{
    width: 78%;
    height: 96%;
    font-size: 18px;
    color: rgb(254,244,180);
    background-color: rgb(20,21,20);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.met2{
    width: 85%;
    height: 32%;
    color: rgb(254,244,180);
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-between;
}
.met2 img{
    width: 60px;
    height: 60px;
}
.dot1{
    display:flex;
}
.dot1 img{
    margin-bottom: 20px ;
    padding: 10px 10px;
}
.met21{
    width: 49%;
    height: 96%;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(20,21,20);
}
.met21 h3{
    font-size: 30px;
    line-height: 100px;
}
ul{
    list-style: none;
}
.met22{
    width: 50%;
    height: 96%;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(20,21,20);
}
.met22 h3{
    font-size: 30px;
    line-height: 100px;
}
.met3{
    width: 85%;
    height: 35%;
    color: rgb(254,244,180);
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-between;
}
.met31{
    width: 68%;
    height: 96%;
    background-color: rgb(20,21,20);
    display: flex;
    align-items: center;
    justify-content: center;
}
.im1{
    width: 90%;
    height: 70%;
    background-color: rgb(20,21,20);
}
.im11{
    width: 100%;
    height: 15%;
    background-color: rgb(20,21,20);
}
.im12{
    width: 100%;
    height: 85%;
    background-color: rgb(20,21,20);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 100px;
    align-items: center;
    justify-items: center;
}
.met32{
    width: 25%;
    height: 96%;
    background-color: rgb(16,17,17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.met321{
    width: 100%;
    height: 45%;
    font-size: 20px;
    color: rgb(254,244,180);
    background-color: rgb(20,21,20);
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.im3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.im2{
    height: 100px;
    width: 100px;
}
.im2 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.met322{
    width: 100%;
    height: 45%;
    font-size: 20px;
    color: rgb(254,244,180);
    background-color: rgb(20,21,20);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.met4{
    width: 85%;
    height: 08%;
    background-color: rgb(16,17,17);
    display: flex;
}
.met41{
    width: 20%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,244,180);
    background-color: rgb(16,17,17);
    display: flex;
    align-items: center;
    justify-content: center;
}
.met41 h3{
    padding: 18px;
    color: black;
    background-color: rgb(192,191,170);
    border-radius: 40px;
}
.met42{
    width: 30%;
    height: 100%;
    font-size: 16px;
    color: rgb(254,244,180);
    background-color: rgb(16,17,17);
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    width: 100%;
    height: 150%;
    background-color: rgb(16,17,17);
    display: flex;
    align-items: center;
    justify-content: center;
}
.con1{
    width: 85%;
    height: 80%;
    color: rgb(245,243,217);
    background-color: rgb(16,17,17);
    display: flex;
    justify-content: space-between;
}
.con1 h1{
    margin-top: 150px;
    font-size: 30px;
}
.con1 p{
    margin-top: 10px;
    font-size: 16px;
}
.con2{
    width: 49%;
    height: 100%;
    background-color:rgb(16,17,17);
}
.content{
    margin-top: 50px;
}
.content i{
    padding: 20px;
    background-color: rgb(20,21,20);
    border-radius: 20px;
    margin-bottom: 60px;
}
.cont1{
    margin-left: 20px;
}
.cont1 p{
    font-size: 16px;
}
.cont1 h4{
    font-size: 16px;
}
.con3{
    width: 49%;
    height: 100%;
    background-color: rgb(20,21,20);
    border-radius: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    margin-top: 30px;
    padding: 20px;
    gap: 40px;
}
input{
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: 16px;
    color: rgb(74,74,67);
    background-color: rgb(16,17,17);
    border: none;
    border-radius: 10px;
    outline: none;
}
textarea{
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    color: rgb(74,74,67);
    background-color: rgb(16,17,17);
    border: none;
    border-radius: 10px;
    outline: none;
}
button{
    margin-left: 30px;
    width: 40%;
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
}

@media (max-width:1200px){
  body{
    width: 100vw;
    height: 76vh;
  }
  .top{
    height: 9%;
  }
  .top2{
    font-size: 18px;
  }
  .top2 img {
    width: 40px;
    height: 40px;
  }
  .top3{
    width: 55%;
    font-size: 17px;
    display: none;
  }
  .menu{
    font-size: 40px;
    display: flex;
    align-items: center; 
}
.menu a{
    color: white;
}
  .home1{
    flex-direction: column;
  }
  .homes1{
    width: 100%;
    height: 48%;
  }
  .homes2{
    width: 100%;
    height: 48%;
  }
  .homes2 img {
    width: 300px;
    height: 370px;
  }
  .service{
    height: 70px;
    font-size: 19px;
  }
  .ss1 {
    height: 72%;
  }
  .ss111 {
    width: 74%;
    height: 81%;
    font-size: 15px;
    line-height: 19px;
  }
  .ss112{
    width: 55%;
    font-size: 17px;
    line-height: 19px;
  }
  .ss122 {
    width: 74%;
    height: 81%;
    font-size: 15px;
    line-height: 19px;
  }
  .ss121{
    width: 55%;
    font-size: 17px;
    line-height: 19px;
  }
  .work{
    height: 15%;
  }
  .works1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works2{
    font-size: 19px
  }
  .works3 {
    width: 96%;
    font-size: 17px;
  }
  .works3 a {
    padding: 5px 13px;
  }
  .wo1 {
    flex-direction: column;
  }
  .w1 {
    width: 100%;
    height: 48%;
  }
  .w2 {
    width: 100%;
    height: 48%;
  }
  .wo2 {
    flex-direction: column;
  }
  .w3 {
    width: 100%;
    height: 48%;
  }
  .w4 {
    width: 100%;
    height: 48%;
  }
  .me{
    height: 300%;
  }
  .met {
    align-items: center;
  }
  .met11 {
    width: 50%;
  }
  .met2{
    flex-direction: column;
  }
  .met21 {
    width: 100%;
    height: 68%;
  }
  .met22 {
    width: 100%;
    height: 48%;
  }
  .met3{
    flex-direction: column;
  }
  .met31 {
    width: 100%;
    height: auto;
  }
  .met32{
    width: 100%;
    height: 26%;
    flex-direction: row;
  }
  .met41 {
    width: 50%;
  }
  .met42 {
    width: 50%;
  }
  .con {
    width: 100%;
    height: 180%;
  }
  .con1{
    height: 100%;
    flex-direction: column;
  }
  .con2{
    width: 100%;
    height: 110%;
  }
  .con3{
    width: 100%;
  }
}
@media (max-width:600px){
    body {
        width: 100vw;
    }
    .top {
        height: 10%;
    }
    .top2 {
        font-size: 12px;
    }
    .top2 img {
        width: 30px;
        height: 30px;
    }
    .top3 {
        font-size: 12px;
        display: none;  
    }
    .menu{
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center; 
    }
    .menu a{
        color: white;
    }
    .pad1 {
        padding: 4px;
    }
    .home {
        height: 139%;
    }
    .homes11 {
        font-size: 14px
    }
    .n1 {
        font-size: 25px;
        line-height: 60px;
    }
    .n5 {
        font-size: 22px;
        line-height: 12px;
    }
    .homes13 {
        font-size: 14px;
    }
    .homes14 {
        font-size: 14px;
    }
    .homes2 img {
        width: 250px;
        height: 300px;
    }
    .service {
        height: 62px;
        font-size: 15px;
    }
    .ss1 {
        height: auto;
        padding-bottom: 40px;
    }
    .ss11 {
        height: 34%;
        flex-direction: column;
        justify-content: space-between;
    }
    .ss111 {
        width: 100%;
        height: 81%;
        font-size: 14px;
        line-height: 17px;
    }
    .ss112 {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    .ss12 {
        flex-direction: column;
        justify-content: space-evenly;
        height: 16%;
    }
    .ss121 {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    .ss122 {
        width: 100%;
        height: 64%;
        font-size: 14px;
        line-height: 17px;
    }
    .ss13 {
        height: 0%;
    }
    .work {
        height: 19%;
    }
    .workb{
        padding-bottom: 40px;
    }
    .workb1 {
        font-size: 14px;
        line-height: 26px;
    }
    .works2 {
        font-size: 14px;
    }
    .works3 {
        font-size: 14px;
    }
    .wo1{
        padding-top: 20px;
    }
    .me {
        height: 340%;
    }
    .met {
        height: 6%;
        font-size: 17px;
    }
    .met1 {
        height: auto;
        flex-direction: column;
    }
    .met11 {
        width: 100%;
        justify-content: center;
    }
    .met11 img {
        width: 123px;
        height: 125px;
        border-radius: 60px;
    }
    .met12 {
        width: 100%;
        font-size: 14px;
    }
    .met2 {
        height: auto;
    }
    .im2 img {
        width: 60px;
        height: 60px;
    }
    .im12 {
        grid-template-columns: repeat(2,1fr);
        row-gap: 60px;
        height: auto;
    }
    .met3{
        height: 780px;
    }
    .met32 {
        flex-direction: column;
    }
    .im3 {
        margin-right: 35px;
    }
    .con {
        height: auto;
    }
    .con2 {
        height: 100%;
    }
    .con1 h1 {
        margin-top: 50px;
        font-size: 22px;
    }

}